
.nav-link-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link-container .nav-link {
    transition: all 0.5s;
}

.nav-link-container .nav-link:hover {
    color: var(--primary);
    font-weight: bold;
}
